{% extends "base.html" %}
{% block content %}
    <h1 class="cover-heading">Shorten the url</h1>

    <p class="lead">
        <div class="col-sm-6 col-sm-offset-3">
            <form method="POST" action=".">{% csrf_token %}

                {{ form.as_p }}
                <a href="javascript:void(0)" onclick="toggleShortcode()"><p id="show-more">Click to set desired shortcode</p></a>
            <input class="btn btn-primary" type="submit" value="Shorten">
        </form>
        </div>

    </p>

{% endblock content %}


